<%- include('partials/header') %>

<% if(currentUser) {%>
    <a class="compose" href="/createStory"><span class="material-symbols-outlined">edit</span></a>
<% } %>
    <div class="container">
      <% messages.forEach(message => { %>
          <div class="message">
            <div class="image">
              <img src=<%= `/data/uploads/${message.img}` %> alt="">
            </div>
            <div class="text">
              <h2><%= message.title %></h2>
              <p><%= message.msg %></p>
              <% if(currentUser && currentUser.isMember){ %>
                  <div class="info">
                    <p><strong><%= `${message.user.firstName} ${message.user.lastName}` %></strong></p>
                    <p><em><%= message.timestamp.toDateString() %></em></p>
                  </div>
              <% } %>
               <% if(currentUser && currentUser.isAdmin){ %>
                   <form class="no-border" action=<%= `/story/${message._id}/delete` %> method="post">
                       <button type="submit">delete</button>
                   </form>
              <% } %>
            </div>
          </div>
      <% }) %>
    </div>
<%- include('partials/footer') %>
